<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Style -->
    <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/Roar.css" rel="stylesheet" type="text/css" />

    <!-- Scripts -->
    <script src="{{ MEDIA_URL }}js/mootools.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/Roar.js" type="text/javascript"></script>   
    
    <title>CC Alert</title>

	{% block extrahead %}
	{% endblock %}
</head>
<script type="text/javascript">
    var queue;
    window.addEvent('domready', function() {
        // Default options, reuse this Roar
        queue = new Roar({position:'topRight'});
    })
    
    //Just a little test, will pop up a message and a link.  Can be styled however we want
    function growl(){
        queue.alert("<div class='notification'>New Alert!<hr/><a href='#' class='notificationAlert'>Hitch Hiker's Guide to the Universe</a> was mentioned on <a href='#'>Big Bang Theory</a></div>");
        
        //When user clicks on a link don't use the growls.  This is pretty ineffeicient but just as a proof of concept
        $$('.notificationAlert').addEvent('click',function(e){
            new Event(e).stop();
        });
    }
</script>
<body>
<div id="site">
    <div id="header">
        <div id="logo">
            CCAlert
            <a href="#" onclick="growl()">Notfiy</a>
        </div>
    </div>

    <div id="main">
        <!-- Left Side -->
        <div id="navigationWrapper">
            <div id="navigation">
            	
                <div id="siteNavWrapper">
                    <div id="siteNav">
						{% block siteNav %}
                        <ul>        
                            <li>Home</li>
                            <li>All Alerts</li>
                            <li>Popular Mentions?</li>
                        </ul>
						{% endblock %}
                    </div>
                </div>
                <div id="subscriptions">
					{% block subscriptions %}
	                    Subscriptions | Add
	                    <dl>
	                        <dt>Shows</dt>
	                            <dd>Colbert</dd>
	                            <dd>Oprah</dd>
	                        <dt>Books</dt>
	                            <dd>HitchHiker's Guide..</dd>
	                            <dd>Python For N00bs</dd>
	                    </dl>
					{% endblock %}
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div id="contentWrapper">
            <div id="content">
                <div id="contentBar">
                    <div id="breadCrumbs">
                        Location > Here
                    </div>
                    <div id="alertListOptions">List - Details</div>
                </div>
                <div id="contentBarResults">
					{% block contentResults %}
                    	1,337 Results | Mark All as Read
					{% endblock %}
                </div>
                <div id="alerts"> <!-- This will be populated with some ajax call -->
                	{% block content %}
                    <!-- Individul alert -->
                    <div class="alertWrapper">
                        <div id="alert_1" class="alert">
                            <h2 class="alertTitle">Bla bla</h2>
                            <hr />
                            Bla bla bla
                        </div>
                    </div>
                    <div class="alertWrapper">
                        <div id="alert_2" class="alert">
                            <h2 class="alertTitle">Bla bla</h2>
                            <hr />
                            Bla bla bla
                        </div>
                    </div>
					{% endblock %}
                </div>
                
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>

