{% extends "base/base.html" %}

{% block bread_crumbs %}
    <span class="active-crumb">Home</span>
{% endblock %}


{% block title %}MOTOR - MotoLibre{% endblock %}
{% block extrahead %}
{% endblock %}

{% block home_li_class %}class="cur_link"{% endblock %}


{% block content %}
    <h1>Alerts</h1>

        {% for alert in alerts %}
        <div class="alertWrapper">
        Title: {{alert.title}}<br>
        Author: {{alert.author}}<br>
        Medium: {{alert.get_media_display}}<br>
        Alert Level: {{alert.level}}
        When: {{alert.date}}
        </div>
        {% endfor %}
    <br /><br />
</div>
{% endblock %}
